body {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  margin: 0;
}

#calcGrid {
  margin-top: 3em;
  width: 900px;
  height: 900px;
}

#clear:hover,
#plus:hover,
#minus:hover,
#divide:hover,
#multiply:hover,
#equals:hover {
  background-color: #e80c7a;
  color: #424143;
}

#answer {
  width: 454px;
  background-color: pink;
  font-size: 56px;
  color: white;
  text-align-last: end;
  padding-right: 26px;
}

#topRow,
#secondRow,
#thirdRow,
#fourthRow,
#fifthRow {
  margin: 0 0 0 15%;
  padding: 0;
  width: 72%;
  height: 10em;
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
}

.elementsText {
  width: 14em;
  background-color: pink;
  margin: 0 0 .1em .1em;
}

button {
  justify-content: center;
  margin: 0;
  color: white;
  font-size: 36px;
}
